<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Practice</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .strong {
      color: hotpink;
    }

    .clicked {
      background-color: aquamarine;
    }
  </style>
</head>

<body>

  <div id="app">
    <div v-for="movie in movieList" :key="movie.id">
      <!-- #1 -->
      <!-- {{ movie.title }} -->

      <div>
        <a :href="getTrailerLink(movie.yt_trailer_code)" target="_blank">{{ movie.title }}</a>
      </div>
      <!-- #4 -->


      <!-- <img :src="movie.medium_cover_image" /> -->
      <!-- #2 -->

      <img @click="fetchDetails(movie.id)" :src="movie.medium_cover_image" width="40%" />
      <!-- #5 -->

      <div v-for="genre in movie.genres" :key="genre">
        {{ genre }}
      </div>
      <!-- #3 -->


      <br>
      <br>
      <hr>
    </div>
  </div>

  <script src="src/js/main.js"></script>
</body>

</html>